
#chart1
  %h1#title{ :style => "text-align: center;"}
  %svg{ :style => "height: 500px;"}
#chart2
  %svg{ :style => "height: 500px;"}
#chart3
  %svg{ :style => "height: 500px;"}
#chart0
  %svg{ :style => "height: 500px;"}

#chart4
  %svg{ :style => "height: 500px;"}
#chart5
  %svg{ :style => "height: 500px;"}

