<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Reports</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>
  </div><!-- /.container -->
 <!--  <div class="container">
    <select class="form-control", id="role-select">
      <option>Yoolk</option>
      <option>Area Manager</option>
      <option>Business Owner</option>
    </select>
  </div> -->
</div>